body, html{
  height: 100%;
}
h1{
  color: #e8e3e4;
  padding-top: 10px;
  padding-left: 70px;
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  color: white;
}

p{
font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 2.5;
}

.intro-image {
  height: 100%;
  background-image: url(images/Capture.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.nav-item{
  padding-right: 30px;
  font-size: large;
  font-weight: 500;
}

.navbar-brand img{
  width: 8%;
  height: 8%;
}

.photo {
  object-fit: cover;
  width: 100%;
}


